

#hero{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("https://images.klipfolio.com/website/public/8c382128-c51b-456d-b0f2-45659d2424db/supply-chain-dashboard-example.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}

#navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}





#neon-text {
    color: #fff; /* blanco puro */
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff;
    animation: flicker 1.5s infinite alternate;
    font-family: 'Press Start 2P', cursive; /* estilo retro */
}

/* Parpadeo sutil tipo neón */
@keyframes flicker {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.7; }
}

